@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
       
         <h1>   Welcoome in our company for traveling  </h1>
        <
    </div>
 
</div>