
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

    <form action="/Home/check" method="post">
        <input id="username" type="text" required /> <br /><br />
        <input id="password" type="password" required /><br /><br />
        <input id="Submit1" type="submit" value="submit" />


    </form>
